{erl_opts, [
  fail_on_warning,
  debug_info,
  warn_missing_spec,
  {platform_define, "^[0-9]+", namespaced_dicts},
  {parse_transform, lager_transform}
%%  ,{d, 'DEBUG_MODE', true}
]}.



{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "3.1.0"}}},

  {edate, ".*", {git, "https://github.com/dweldon/edate.git", {tag, "master"}}},

  {goldrush, ".*", {git, "https://github.com/DeadZen/goldrush.git", {tag, "0.1.8"}}},
  {cowboy, ".*", {git, "https://sparktwinny:DLshtpsxm1!@github.com/sparktwinny/tw_cowboy.git", {tag, "master"}}},
  {erlcloud, ".*", {git, "  https://github.com/republicwireless/erlcloud.git", {tag, "master"}}},
  % {erlcloud, ".*", {git, "https://sparktwinny:DLshtpsxm1@github.com/sparktwinny/tw_erlcloud.git", {tag, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
  {emysql, ".*", {git, "https://sparktwinny:DLshtpsxm1!@github.com/sparktwinny/tw_emysql.git", {branch, "master"}}},
  {eredis, ".*", {git, "https://sparktwinny:DLshtpsxm1!@github.com/sparktwinny/tw_eredis.git",{branch, "master"}}},
  {erl_img, ".*", {git, "https://sparktwinny:DLshtpsxm1!@github.com/twinnyKR/erl_img.git",{branch, "master"}}},
  {iso8601, ".*", {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2.2"}}},
  {eredis_pool, ".*", {git, "https://sparktwinny:DLshtpsxm1!@github.com/sparktwinny/tw_eredis_pool.git", {tag, "master"}}},



  {jch, ".*", {git, "https://github.com/darach/jch-erl.git", {tag, "master"}}},

%%원본
%%  {emqttd, ".*", {git, "https://github.com/emqtt/emqttd.git", {tag, "0.14.0-beta"}}}

%%내가Customize한 MQTT :rel이 빠져있으며 기타 세팅이 추가


%% 구글 캘린더 동기화 할 때 사용하는 라이브러리 추가.
  {jose, ".*", {git, "git://github.com/potatosalad/erlang-jose.git", {branch, "master"}}},
  {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}}

]}.
{lib_dirs, ["deps","etc"]}.
{sub_dirs, ["rel"]}.



{clean_files, ["*.eunit", "ebin/*.beam", "rel/graphsom"]}.