[
  "position.config",
  %%poolboy.erl의 타임아웃을 15000로 바꿀것.

  {tw_moigo_trip_api,
    [
      {setting, [{max_message_box, 100},
        {fix_version, "(2016_07_27_12:48)"},
        {role, all}
      ]},

      {pools, []},
      {db_log, [
        {insert_file_path, "log/db_mogio_trip_log.log"},
        {s3_log_file_path, "log/db_mogio_trip_log_s3.log"},
        {s3_log_raw_file_path, "log/db_mogio_trip_s3_raw.log"},
        {s3_log_flush_hour, 3},
        {s3_error_log_file_path, "log/db_mogio_trip_log_s3.log"},
        {flush_num, 10}
      ]},

      {monitoring, [
        %% Long GC
        {long_gc, 100},
        %% Long Schedule(ms)
        {long_schedule, 100},
        %% 8M words. 32MB on 32-bit VM, 64MB on 64-bit VM.
        %% 8 * 1024 * 1024
        {large_heap, 8388608},
        %% Busy Port
        {busy_port, true},
        %% Busy Dist Port
        {busy_dist_port, true}

      ]}

    ]
  },


  %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"}, % Log directory
    {error_logger_mf_maxbytes, 10485760}, % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},
  {kernel,
    [{start_timer, true},
      {inet_dist_listen_min, 9100},
      {inet_dist_listen_max, 9115},
      {start_pg2, true}
    ]},
  {lager, [
    {colored, true},
    {async_threshold, 1000},
    {error_logger_redirect, false},
    {crash_log, "log/emqttd_crash.log"},
    {handlers, [
      {lager_console_backend, info},
      %%NOTICE: Level >= error
      %%{lager_emqtt_backend, error},


      {lager_file_backend, [
        {formatter_config, ["[", date, " ", time, "] ", pid, " [", severity, "] ", message, "\n"]},
        {file, "log/tw_moigo_trip_api_info.log"},
        {level, info},
        {size, 104857600},
        {date, "$D0"},
        {count, 30}
      ]},
      {lager_file_backend, [

        {formatter_config, ["[", date, " ", time, "] ", pid, " [", severity, "] ", message, "\n"]},
        {file, "log/tw_moigo_trip_api_error.log"},
        {level, error},
        {size, 104857600},
        {date, "$D0"},
        {count, 30}
      ]}
    ]}
  ]},
  {esockd, [
    {logger, {lager, info}}
  ]}
].
